@import 'reset';

.container{
    max-width: 640px;
    margin: 0 auto;
}
img{
    display: block;
}
p{
    font-size: 16px;
    line-height: 1.5;
}

h2{
    font-size: 20px;
    line-height: 1.2;
}

.d-flex{
  display: flex;  
}
.news,.news__card{
    margin-bottom: 24px;
}


.news__text{
    max-width: 288px;
    margin: 0px 20px ;
}

footer{
    p{
        text-align: center;
        padding:48px 0px;
    }
}